[Unit]
Description=Edison Arduino board LED Blinker

[Service]
ExecStart=/usr/bin/blink-led
ExecStop=/usr/bin/blink-led
RemainAfterExit=Yes

[Install]
WantedBy=basic.target
