[Unit]
Description=Daemon to reset sketches
After=clloader.service
Requires=clloader.service

[Service]
ExecStart=/opt/edison/sketch_reset -i 207 -o 215 -s /opt/edison/sketch_reset.sh

[Install]
WantedBy=multi-user.target

