[Unit]
Description=Increases rootfs image size to fit partition
Requires=dev-disk-by\x2dpartlabel-rootfs.device
After=dev-disk-by\x2dpartlabel-rootfs.device

[Service]
Type=oneshot
ExecStart=/sbin/resize2fs /dev/disk/by-partlabel/rootfs
ExecStart=/bin/systemctl disable resize-rootfs.service

StandardOutput=journal+console

[Install]
WantedBy=default.target
