[Unit]
Description=Edison PWR button handler
After=systemd-logind.service

[Service]
ExecStart=/usr/bin/pwr_button_handler "/bin/systemctl start blink-led" "sh -c \"/bin/systemctl stop blink-led && /usr/bin/configure_edison --toggleOneTimeSetup --persist\"" "sh -c connect_bluetooth.sh"
Restart=on-failure

[Install]
WantedBy=multi-user.target
