[Unit]
Description=Edison PWR button handler

[Service]
ExecStart=/usr/bin/pwr_button_handler "/bin/systemctl start blink-led" "sh -c \"/bin/systemctl stop blink-led && /usr/bin/configure_edison --toggleOneTimeSetup --persist\"" "/bin/systemctl poweroff"
Restart=on-failure

[Install]
WantedBy=default.target

